body {
  background: whitesmoke;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

main {
  background-color: rgb(74, 107, 252);
  border-radius: 10px;
  width: 415px;
  text-align: center;
  box-shadow: 10px 0px 10px 0px rgb(182, 178, 178);
  /* border:3px  gray; */
}
.top {
height: 100px;
color: black;
padding: 10px;
margin-top: 10px ;
}

.middle {
height: 115px;
background-color: white;
color: black;
line-height: 5;
}

.bottom {
  height: 20px;
}

.hello {
  font-size: 4.5rem;
  font-weight: 900;
}

.my-name {
  font-size: 2rem;  
}

.name {
  font-size: 3rem;  
  font-family:'Gochi Hand', cursive;
  line-height: 2.5;
}